/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	mc-auto-number-offset: .05cm;
	mc-auto-number-position: outside head;
	mc-auto-number-format: 'GH:{n+}';
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
	mc-auto-number-format: 'GH:{n}.{n+}';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 1cm;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol,
ul,
dl
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

@media print
{
	h3
	{
		
	}

	h3#test
	{
		
	}

	body
	{
		
	}
}

h3#test
{
	font-weight: bold;
	font-size: 14.0pt;
	mc-auto-number-format: 'GH:{n}.{n+}';
	mc-auto-number-offset: .75cm;
	mc-auto-number-position: outside-head;
}

MadCap|variable.Variables\00002ECompanyName
{
	
}

